# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/
.nyc_output/

# Build / Dist files
dist/
build/

# VSCode
.vscode/
/data
# Optional: ignore lock files if you don’t want them versioned
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
